<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8"/>
  <title>Jeux de ouf</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/uikit.css')}}"/>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/page.css')}}"/>
  <script src="{{ url_for('static',filename='js/jquery.min.js')}}"></script>
  <script src="{{ url_for('static',filename='js/uikit.min.js')}}"></script>
  <script src="{{ url_for('static',filename='js/uikit-icons.min.js')}}"></script>
  <script src="{{ url_for('static',filename='js/jeux.js')}}"></script>
</head>

  <body>
    <h1 class="uk-h1 uk-text-center">Les Jeux</h1>
    <div class="uk-container">
      <div class="uk-text-center uk-grid-match"  id="jeux" uk-grid>
      </div>
  </div>
  <section class="uk-text-center uk-margin-top uk-margin-bottom-small" id="tools">
    <button id="addJeu" class="uk-button uk-button-primary">Ajouter un nouveau jeu<img class="uk-margin-small-left" src="../static/images/manette.png" height=40 width=40/></button></a>
    <button id="addEditeur" class="uk-button uk-button-primary">Ajouter un nouvel éditeur<img class="uk-margin-small-left" src="../static/images/user.png" height=40 width=40/></button></a>
  </section>
  <div class="container uk-text-center uk-margin">
  <section id="currentJeu"></section>
  <section id="currentEditeur"></section>
  </div>
</body>
