<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8"/>
  <title>Jeux de ouf</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/uikit.css')}}"/>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/page.css')}}"/>
  <script src="{{ url_for('static',filename='js/jquery.min.js')}}"></script>
  <script src="{{ url_for('static',filename='js/uikit.min.js')}}"></script>
  <script src="{{ url_for('static',filename='js/uikit-icons.min.js')}}"></script>
  <script src="{{ url_for('static',filename='js/jeux.js')}}"></script>
</head>

  <body>
    <h1 class="uk-h1 uk-text-center">Les Jeux</h1>
    <div class="uk-container">
      <div class="uk-text-center uk-grid-match"  id="jeux" uk-grid>
        <ul class="uk-dotnav uk-dotnav-vertical">
        </ul>
      </div>
  </div>
  <div class="container uk-margin uk-margin-large-left">
  <section class=" uk-margin-top uk-margin-bottom-small" id="tools">
    <img id="add" src="../static/images/new.png" alt="Nouvelle chose à faire"/>
    <img id="del" src="../static/images/delete.png" alt="Enlever cette tache"/>
  </section>
  <section id="currentJeu"></section>
  </div>
</body>
